@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', ;
}

section {
    background-color: rgb(245, 245, 245);
}

.title {
    font-size: 120px;
    margin-bottom: 12px;
    text-align: left;
    line-height: 1;
}

.title--secondary
.accent {
    color: #f06449 !important;
}


/* 

NAVIGATION

*/

nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100px;
}

#personal-logo {
    width: 50px; 
    height: 50px;
    padding: 4px 8px;
    filter: invert(1); 
}

.nav_link--list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 4px 8px;
    gap: 24px;
    margin-left: auto;
}

.nav__link {
    margin: 8px 24px; 
}


.nav__link--anchor {
    text-decoration: none;
    font-size: 16px;
    color: #242424;
    font-weight: 700;
}

.fa-adjust {
    font-size: 20px;
}

/* 

LANDING PAGE

*/

#landing-page {
    min-height: 100vh;
}

.header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate (-50%, -50%); 
    width: 100%;
    max-width: 1000px;
}

